@model FurnitureStore.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 image-container">
            <img alt="@Model.Products.FirstOrDefault().name" src="~/Content/image/@Model.Products.FirstOrDefault().Image" class="img-fluid" />
        </div>
        <div class="col-md-6 details-container">
            <h4 class="mb-3"><span class="text-danger">Product:</span> @Model.Products.FirstOrDefault().name</h4>
            <h4 class="mb-3">Manufacturer: @Model.Products.FirstOrDefault().manufacturer</h4>
            <p class="mb-3"><strong>Mô tả:</strong> @Model.Products.FirstOrDefault().description</p>
            <p class="mb-3"><span class="text-danger price">@Model.Products.FirstOrDefault().price.ToString("N0") đ</span></p>
            <div class="mb-3">
                @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "ShoppingCart", new { id = @Model.Products.FirstOrDefault().id }, new { @class = "btn btn-success" })
            </div>
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Give Feedback", "GiveFeedback", "FurnitureStore", new { id = @Model.Products.FirstOrDefault().id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("See Feedback", "SeeFeedback", "FurnitureStore", new { id = @Model.Products.FirstOrDefault().id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<style>
    .details-container, .image-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }


</style>
