@model FurnitureStore.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- trending section -->

<section class="trending_section layout_padding">
    <div id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Our Categories
                            </h2>
                        </div>
                        <div class="tab_container">
                            @{int i = 1; }
                            @foreach (var item in Model.Categories)
                            {
                                <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="number">
                                        <h5>
                                            @i
                                        </h5>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="t-name">
                                            <a href="@Url.Action("GetByCategoryId", "FurnitureStore", new { id = item.id })">@item.name</a>
                                        </h5>
                                    </div>
                                </div>
                                i++;
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/Content/image/t-1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/Content/image/t-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/Content/image/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/Content/image/t-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- end trending section -->
<!-- brand section -->
<section class="brand_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                New Products
            </h2>
        </div>
        <div class="brand_container layout_padding2">
            @foreach (var item in Model.Products)
            {
                <div class="box">
                    <a href="@Url.Action("Details", "FurnitureStore", new { id = @item.id })">
                        <div class="new">
                            <h5>Details</h5>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/image/@item.Image" width="320" height="250">
                        </div>
                        <div class="detail-box">
                            <h6 class="price" style="margin:10px">@item.price.ToString("N0") đ</h6>
                            <h6>@item.name</h6>
                        </div>
                    </a>
                    @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "ShoppingCart", new { id = @item.id }, new { @class = "btn btn-success" })

                </div>
            }


        </div>
        @Html.ActionLink("See All", "GetAllProducts", null, new { @class = "brand-btn" })
    </div>
</section>

<!-- end brand section -->
<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container ">
        <div class="heading_container">
            <h2 class="">
                Contact Us
            </h2>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("SendContact", "FurnitureStore", FormMethod.Post))
                {
                    <div>
                        <input type="text" name="name" placeholder="Name" />
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Email" />
                    </div>
                    <div>
                        <input type="text" name="phone" placeholder="Phone" /> 
                    </div>
                    <div>
                        <input type="text" name="message" class="message-box" placeholder="Message" />
                    </div>
                    <div class="d-flex ">
                        <button type="submit">
                            SEND
                        </button>
                    </div>
                }
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=HUTECH+Thu+Duc+Campus"
                                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end contact section -->

<script>
    $(document).ready(function () {
        $(".tt-name").on("click", function () {
            var button = $(e.target);
            alert("OKKKKKKKKKKKKKKKKKKk.");
            $.ajax({
                url: "/api/CategoryAPI/" + button.attr("data-user-id"),
                type: "GET",
                success: function (result) {
                    alert("OKKKKKKKKKKKKKKKKKKk.");
                },
                error: function () {
                    alert("Error occurred while fetching products.");
                }
            });
        });
    });
    </script>



