@model FurnitureStore.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4 style="margin-top:20px;"><b>Place An Order</b></h4></div>

                </div>
            </div>
            @foreach (var item in Model.CartItems)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-md-2"><img class="img-fluid" src="~/Content/image/@item.Image"></div>
                        <div class="col-md-6">
                            <div class="row text-muted">@item.CategoryName</div>
                            <div class="row">@item.Name</div>
                        </div>
                        <div class="col-md-2">
                            @using (Html.BeginForm("UpdateCart", "ShoppingCart", new { id = item.Id }))
                            {
                                <div class="input-group">
                                    <input type="number" min="1" name="txtQuantity" value="@item.Quatity" class="form-control" style="height: 38px;width:50px" />

                                    <button type="submit" class="btn btn-primary">Update</button>

                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            @item.Money.ToString("N0") đ <span class="close" onclick="RemoveItem(@item.Id)">&#10005;</span>
                        </div>
                    </div>
                </div>
            }
            <div class="back-to-shop">
                <span>&leftarrow;</span>
                @Html.ActionLink("Back to shop", "GetAllProducts", "FurnitureStore", null, new { @class = "text-muted" })
            </div>



        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">@ViewBag.Quatity ITEMS</div>
                <div class="col text-right">@ViewBag.Total.ToString("N0") đ</div>
            </div>
            @using (Html.BeginForm("Order", "ShoppingCart", FormMethod.Post))
            {
                <p>SHIPPING</p>
                <select id="shippingSelect" name="shippingCost" onchange="setShippingCost(this.value); enableCheckoutButton();">
                    <option value="" selected disabled>Select an option here</option>
                    <option value="110000" class="text-muted">Standard-Delivery(≤5km) - 110.000đ</option>
                    <option value="170000" class="text-muted">Standard-Delivery(5-20km) - 170.000đ</option>
                    <option value="350000" class="text-muted">Standard-Delivery(≥20km) - 350.000đ</option>
                    <option value="599000" class="text-muted">Qucik-Delivery(20-50km)- 599.000đ</option>
                </select>
                <p>
                    Delivery address
                </p>
                <input id="code" name="delivery_address" placeholder="Enter address">
                <button type="submit" id="checkoutButton" class="btn" disabled>CHECKOUT</button>
            }

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">[@ViewBag.Total.ToString("N0") đ + <span id="shippingCost">0</span>đ]</div>
            </div>
            <div class="col text-right" style="font-size:20px; font-style:italic; color:orangered"> <span id="totalPrice">0</span>đ</div>


        </div>

        <script>
            function setShippingCost(value) {
                document.getElementById("shippingCost").innerHTML = value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            function enableCheckoutButton() {
                var shippingSelect = document.getElementById("shippingSelect");
                var checkoutButton = document.getElementById("checkoutButton");
                if (shippingSelect.value != "") {
                    checkoutButton.removeAttribute("disabled");
                } else {
                    checkoutButton.setAttribute("disabled", "disabled");
                }
            }
            function setShippingCost(value) {
                 var shippingCost = parseFloat(value);
                 document.getElementById("shippingCost").innerHTML = shippingCost.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                  var totalPrice = parseFloat(@ViewBag.Total);
                  totalPrice += shippingCost;
                  document.getElementById("totalPrice").innerHTML = totalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            document.getElementById("checkoutButton").addEventListener("click", function () {
                var code = document.getElementById("code").value.trim();
                if (code === "") {
                    alert("Vui lòng nhập địa chỉ nhận hàng");
                } else {
                    window.location.href = "/ShoppingCart/Order";
                }
            });
            function RemoveItem(Id) {
                window.location.href = "/ShoppingCart/RemoveCartItem/"+Id;
            }


        </script>


    </div>
</div>

<style>
    body {
        background: #ddd;
        min-height: 100vh;
        vertical-align: middle;
        display: flex;
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .title {
        margin-bottom: 5vh;
    }

    .card {
        margin: auto;
        min-width: 1200px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent;
    }

    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65);
    }

        .summary .col-2 {
            padding: 0;
        }

        .summary .col-10 {
            padding: 0;
        }

    .row {
        margin: 0;
    }

    .title b {
        font-size: 1.5rem;
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%;
    }

    .col-2, .col {
        padding: 0 1vh;
    }

    a {
        padding: 0 1vh;
    }

    .close {
        margin-left: auto;
        font-size: 1rem;
    }
    .close:hover {
        padding:2px;
        cursor:pointer;
        color:red;
    }
    img {
        width: 3.5rem;
    }

    .back-to-shop {
        margin-top: 4.5rem;
    }

    h5 {
        margin-top: 4vh;
    }

    hr {
        margin-top: 1.25rem;
    }

    form {
        padding: 2vh 0;
    }
    
    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0;
    }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }

        .btn:hover {
            color: white;
        }

    a {
        color: black;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
    }
</style>
