@model IEnumerable<FurnitureStore.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}


<p>
    @Html.ActionLink("New Category", "Create", null, new { @class = "btn btn-info", style = "color: white; margin-left:20px" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
